.search-ico {
	width: 40upx;
	height: 40upx;
}
.search-text {
	font-size: 16px;
	background-color: FFFFFF;
	height: 70upx;
	width: 480upx;
}
.search-block {
	width: 600upx;
	height: 80upx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0upx 20upx; 
	/* 固定搜索栏 */
	position: absolute;
	top: 190upx;
	right: 53upx;
	z-index: 2000;
	background-color: #FFFFFF;
	border-radius: 40upx;
	/* border: 1px solid #000; */
	/* margin-top: -100upx; */
}
.search-ico-wapper {
	background-color: FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0upx 20upx 0 0upx;
}



.index-head {
	position: relative;
}




.header-img {
	width: 100%;
	height: 330upx;
	/* margin-top: 10px; */
}

.cases-wraper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -80upx;
}

.cases-item {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20upx 20upx;
	border-bottom: 1px dashed #f2f2f2;
	/* z-index: 100; */
}
.no-border {
	border-bottom: 1px dashed transparent;
}
.case-txt {
	align-items: flex-start;
	color: #616161;
	font-size: 14px;
	/* overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; */
	text-align: center;
}

.case-id {
	width: 200upx;
	
}
.case-name {
	width: 170upx;
}
.case-date {
	width: 200upx;
}
.case-status{
	width: 140upx;
	color: #00B07B
}
.case-title {
	color: #353535;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
}

.appoint-case {
	position: absolute;
	top: 10upx;
	left: 10upx;
	width: 40upx;
	height: 40upx;
	align-self: center;
}